*__pycache__
*.swp
*.pth
.idea/
wandb/
checkpoints/
.DS_Store
data
experimentation
!experimentation/lidar_gan.ipynb
!experimentation/dataset_preprocessing.ipynb
!experimentation/filter_point_cloud_by_building_footprint.ipynb
!experimentation/original_GAN_model.ipynb
!experimentation/visualize_real_samples.ipynb
!experimentation/loss_experiments.py