[submodule "Magic123"]
	path = Magic123
	url = https://github.com/guochengqian/Magic123.git
[submodule "threestudio"]
	path = threestudio
	url = https://github.com/threestudio-project/threestudio.git
