*.ipynb_checkpoints
*.idea
*.csv
*.tar
*.pt
*.gz
*.DS_Store
*__pycache__
*.joblib
*.swp
*.pth
*.npy

wandb/
checkpoints/
/data/
/experimentation/.ipynb_checkpoints/
/experimentation/outdated/
/aws_key/
/E06000014_npy_normalized/
/E06000014_npy_raw/



